@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
    --americanRed: #ff3b29;
    --americanBlue: #425afa;
    --americanBlack: #262736;
    --americanWhite: #e4e1f5;
}

body{
    margin: 0;
    background-color: var(--americanWhite);
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

header{
    background-color: white;
    position: fixed;
    text-align: center;
    width: 100vw;
    z-index: 100;
    padding: 2%;
    padding-left: 0;
}

footer{
    position: fixed;
    padding-top: 1%;
    padding-bottom: 1%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-left: 40%;
    padding-right: 40%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    z-index: 100;
    background-color: white;
}

nav{
    padding-left: 30%;
    padding-right: 30%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.loadingDiv{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.button1{
    width: 30%;
    text-decoration: none;
    z-index: 10;
    color: var(--americanBlack);
    font-size: 18px;
    border-radius: 0;
    transition: 0.2s ease-out;
}

.button1:hover{
    color: var(--americanBlue);
    transform: scale(1.1);
}

.button2{
    color: var(--americanBlack);
    padding: 10%;
    font-size: 80px;
    text-decoration: none;
    border: 5px solid var(--americanBlack);
    border-radius: 10px;
    margin-top: 22.5%;
    margin-left: -5%;
    transition: 0.2s;
}
.button2:hover{
    color: var(--americanWhite);
    background-color: var(--americanBlack);
}

button{
    z-index: 500;
    text-decoration: underline;
    color: var(--americanBlack);
    border: none;
    background: none;
    font-size: 17px;
}
button:hover{
    cursor: pointer;
}

.main a{
    border-radius: 3px;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    background-color: var(--americanBlue);
    font-size: 20px;
    text-decoration: none;
    margin-right: 5%;
}
.main p{font-size: 35px; margin-top: 15%;}
.main h1{font-size: 18px; margin-top: 15%;}

.main{
    border-radius: 5px;
    padding-top: 3%;
    width: 60%;
    position: fixed;
    background-color: white;
    top: 30%;
    bottom: 30%;
    left: 20%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    box-shadow: 6px 6px 8px 0px rgba(0,0,0,0.19);
}

.line{
    animation: paths 5s ease infinite;
    stroke-dasharray: 500;
    transform: scale(0.3);
    z-index: -49;
}
#mySVG{transform: translateY(-8%) translateX(-20%); z-index: -50; height: 100%;}

#particles-js{
    position: relative;
    z-index: -10;
}

@keyframes opacitty{
    0%{opacity: 0;}
    100%{opacity: 100%;}
}
@keyframes paths{
    0%{stroke-dashoffset: 0;}
    50%{stroke-dashoffset: 1000;}
    100%{stroke-dashoffset: 0;}
}