button{
    background: none;
    border: 2px solid black;
    margin-top: 5%;
    transition: 0.2s;
    margin-bottom: 0;
}

button:hover{
    color: white;
    background-color: black;
}
footer button{
    border: none;
    text-decoration: underline;
    padding: 0;
}
footer button:hover{
    color: initial;
    background-color: initial;
}

#center {
    position: fixed;
    transform: translateY(-30%);
}
#particles-js canvas{
    position: fixed;
    z-index: -10;
}
.main{
    background-color: transparent;
    padding-top: 0;
}